{% extends 'baas.html' %}

{% block head %}
<style>

	.button {
		background-color: #D3D3D3;
		border: 2px solid #B22222;
		color: black;
		padding: 5px;
		text-align: center;
		text-decoration: none;
		font-size: 25px;	
	}
	
</style>

{% endblock %}

{% block body %}

<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/edit" class="button">muuda</a>

{%if ( (kasutaja.list_1 != 'None') and (kasutaja.list_1_checked == 0) ) %}
	<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/1/0">{{ kasutaja.list_1 }}</a>
{% endif %}
{%if ( (kasutaja.list_1 != 'None') and (kasutaja.list_1_checked == 1) ) %}
	<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/1/1"><s>{{ kasutaja.list_1 }}</s></a>
{% endif %}	
		
{%if ( (kasutaja.list_2 != 'None') and (kasutaja.list_2_checked == 0) ) %}
	<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/2/0">{{ kasutaja.list_2 }}</a>
{% endif %}
{%if ( (kasutaja.list_2 != 'None') and (kasutaja.list_2_checked == 1) ) %}
	<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/2/1"><s>{{ kasutaja.list_2 }}</s></a>
{% endif %}	

{%if ( (kasutaja.list_3 != 'None') and (kasutaja.list_3_checked == 0) ) %}
	<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/3/0">{{ kasutaja.list_3 }}</a>
{% endif %}
{%if ( (kasutaja.list_3 != 'None') and (kasutaja.list_3_checked == 1) ) %}
	<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/3/1"><s>{{ kasutaja.list_3 }}</s></a>
{% endif %}	

{%if ( (kasutaja.list_4 != 'None') and (kasutaja.list_4_checked == 0) ) %}
	<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/4/0">{{ kasutaja.list_4 }}</a>
{% endif %}
{%if ( (kasutaja.list_4 != 'None') and (kasutaja.list_4_checked == 1) ) %}
	<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/4/1"><s>{{ kasutaja.list_4 }}</s></a>
{% endif %}	

{%if ( (kasutaja.list_5 != 'None') and (kasutaja.list_5_checked == 0) ) %}
	<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/5/0">{{ kasutaja.list_5 }}</a>
{% endif %}
{%if ( (kasutaja.list_5 != 'None') and (kasutaja.list_5_checked == 1) ) %}
	<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/5/1"><s>{{ kasutaja.list_5 }}</s></a>
{% endif %}

{%if ( (kasutaja.list_6 != 'None') and (kasutaja.list_6_checked == 0) ) %}
	<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/6/0">{{ kasutaja.list_6 }}</a>
{% endif %}
{%if ( (kasutaja.list_6 != 'None') and (kasutaja.list_6_checked == 1) ) %}
	<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/6/1"><s>{{ kasutaja.list_6 }}</s></a>
{% endif %}	
		
{%if ( (kasutaja.list_7 != 'None') and (kasutaja.list_7_checked == 0) ) %}
	<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/7/0">{{ kasutaja.list_7 }}</a>
{% endif %}
{%if ( (kasutaja.list_7 != 'None') and (kasutaja.list_7_checked == 1) ) %}
	<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/7/1"><s>{{ kasutaja.list_7 }}</s></a>
{% endif %}	

{%if ( (kasutaja.list_8 != 'None') and (kasutaja.list_8_checked == 0) ) %}
	<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/8/0">{{ kasutaja.list_8 }}</a>
{% endif %}
{%if ( (kasutaja.list_8 != 'None') and (kasutaja.list_8_checked == 1) ) %}
	<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/8/1"><s>{{ kasutaja.list_8 }}</s></a>
{% endif %}	

{%if ( (kasutaja.list_9 != 'None') and (kasutaja.list_9_checked == 0) ) %}
	<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/9/0">{{ kasutaja.list_9 }}</a>
{% endif %}
{%if ( (kasutaja.list_9 != 'None') and (kasutaja.list_9_checked == 1) ) %}
	<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/9/1"><s>{{ kasutaja.list_9 }}</s></a>
{% endif %}	

{%if ( (kasutaja.list_10 != 'None') and (kasutaja.list_10_checked == 0) ) %}
	<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/10/0">{{ kasutaja.list_10 }}</a>
{% endif %}
{%if ( (kasutaja.list_10 != 'None') and (kasutaja.list_10_checked == 1) ) %}
	<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/10/1"><s>{{ kasutaja.list_10 }}</s></a>
{% endif %}

{%if ( (kasutaja.list_11 != 'None') and (kasutaja.list_11_checked == 0) ) %}
	<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/11/0">{{ kasutaja.list_11 }}</a>
{% endif %}
{%if ( (kasutaja.list_11 != 'None') and (kasutaja.list_11_checked == 1) ) %}
	<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/11/1"><s>{{ kasutaja.list_11 }}</s></a>
{% endif %}	
		
{%if ( (kasutaja.list_12 != 'None') and (kasutaja.list_12_checked == 0) ) %}
	<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/12/0">{{ kasutaja.list_12 }}</a>
{% endif %}
{%if ( (kasutaja.list_12 != 'None') and (kasutaja.list_12_checked == 1) ) %}
	<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/12/1"><s>{{ kasutaja.list_12 }}</s></a>
{% endif %}	

{%if ( (kasutaja.list_13 != 'None') and (kasutaja.list_13_checked == 0) ) %}
	<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/13/0">{{ kasutaja.list_13 }}</a>
{% endif %}
{%if ( (kasutaja.list_13 != 'None') and (kasutaja.list_13_checked == 1) ) %}
	<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/13/1"><s>{{ kasutaja.list_13 }}</s></a>
{% endif %}	

{%if ( (kasutaja.list_14 != 'None') and (kasutaja.list_14_checked == 0) ) %}
	<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/14/0">{{ kasutaja.list_14 }}</a>
{% endif %}
{%if ( (kasutaja.list_14 != 'None') and (kasutaja.list_14_checked == 1) ) %}
	<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/14/1"><s>{{ kasutaja.list_14 }}</s></a>
{% endif %}	

{%if ( (kasutaja.list_15 != 'None') and (kasutaja.list_15_checked == 0) ) %}
	<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/15/0">{{ kasutaja.list_15 }}</a>
{% endif %}
{%if ( (kasutaja.list_15 != 'None') and (kasutaja.list_15_checked == 1) ) %}
	<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/15/1"><s>{{ kasutaja.list_15 }}</s></a>
{% endif %}

{%if ( (kasutaja.list_16 != 'None') and (kasutaja.list_16_checked == 0) ) %}
	<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/16/0">{{ kasutaja.list_16 }}</a>
{% endif %}
{%if ( (kasutaja.list_16 != 'None') and (kasutaja.list_16_checked == 1) ) %}
	<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/16/1"><s>{{ kasutaja.list_16 }}</s></a>
{% endif %}	
		
{%if ( (kasutaja.list_17 != 'None') and (kasutaja.list_17_checked == 0) ) %}
	<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/17/0">{{ kasutaja.list_17 }}</a>
{% endif %}
{%if ( (kasutaja.list_17 != 'None') and (kasutaja.list_17_checked == 1) ) %}
	<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/17/1"><s>{{ kasutaja.list_17 }}</s></a>
{% endif %}	

{%if ( (kasutaja.list_18 != 'None') and (kasutaja.list_18_checked == 0) ) %}
	<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/18/0">{{ kasutaja.list_18 }}</a>
{% endif %}
{%if ( (kasutaja.list_18 != 'None') and (kasutaja.list_18_checked == 1) ) %}
	<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/18/1"><s>{{ kasutaja.list_18 }}</s></a>
{% endif %}	

{%if ( (kasutaja.list_19 != 'None') and (kasutaja.list_19_checked == 0) ) %}
	<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/19/0">{{ kasutaja.list_19 }}</a>
{% endif %}
{%if ( (kasutaja.list_19 != 'None') and (kasutaja.list_19_checked == 1) ) %}
	<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/19/1"><s>{{ kasutaja.list_19 }}</s></a>
{% endif %}	

{%if ( (kasutaja.list_20 != 'None') and (kasutaja.list_20_checked == 0) ) %}
	<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/20/0">{{ kasutaja.list_20 }}</a>
{% endif %}
{%if ( (kasutaja.list_20 != 'None') and (kasutaja.list_20_checked == 1) ) %}
	<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/20/1"><s>{{ kasutaja.list_20 }}</s></a>
{% endif %}
			
{% endblock %}