{% extends 'baas.html' %}

{% block head %}

<style>

	.kastike {
	margin: 20px;
	}

</style>
		
{% endblock %}

{% block body %}

<div class="kastike">
	<form action='/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/edit' method='POST'>
			1. rida
			<br>
			<input type='text' name='list_1' id='list_1' value='{{ kasutaja.list_1 }}'>
			<br>
			<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/edit/delete/1">kustuta</a>
			<br>
			2. rida
			<br>
			<input type='text' name='list_2' id='list_2' value='{{ kasutaja.list_2 }}'>
			<br>
			<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/edit/delete/2">kustuta</a>
			<br>
			3. rida
			<br>
			<input type='text' name='list_3' id='list_3' value='{{ kasutaja.list_3 }}'>
			<br>
			<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/edit/delete/3">kustuta</a>
			<br>
			4. rida
			<br>
			<input type='text' name='list_4' id='list_4' value='{{ kasutaja.list_4 }}'>
			<br>
			<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/edit/delete/4">kustuta</a>
			<br>
			5. rida
			<br>
			<input type='text' name='list_5' id='list_5' value='{{ kasutaja.list_5 }}'>
			<br>
			<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/edit/delete/5">kustuta</a>
			<br>
			6. rida
			<br>
			<input type='text' name='list_6' id='list_6' value='{{ kasutaja.list_6 }}'>
			<br>
			<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/edit/delete/6">kustuta</a>
			<br>
			7. rida
			<br>
			<input type='text' name='list_7' id='list_7' value='{{ kasutaja.list_7 }}'>
			<br>
			<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/edit/delete/7">kustuta</a>
			<br>
			8. rida
			<br>
			<input type='text' name='list_8' id='list_8' value='{{ kasutaja.list_8 }}'>
			<br>
			<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/edit/delete/8">kustuta</a>
			<br>
			9. rida
			<br>
			<input type='text' name='list_9' id='list_9' value='{{ kasutaja.list_9 }}'>
			<br>
			<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/edit/delete/9">kustuta</a>
			<br>
			10. rida
			<br>
			<input type='text' name='list_10' id='list_10' value='{{ kasutaja.list_10 }}'>
			<br>
			<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/edit/delete/10">kustuta</a>
			<br>
			11. rida
			<br>
			<input type='text' name='list_11' id='list_11' value='{{ kasutaja.list_11 }}'>
			<br>
			<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/edit/delete/11">kustuta</a>
			<br>
			12. rida
			<br>
			<input type='text' name='list_12' id='list_12' value='{{ kasutaja.list_12 }}'>
			<br>
			<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/edit/delete/12">kustuta</a>
			<br>
			13. rida
			<br>
			<input type='text' name='list_13' id='list_13' value='{{ kasutaja.list_13 }}'>
			<br>
			<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/edit/delete/13">kustuta</a>
			<br>
			14. rida
			<br>
			<input type='text' name='list_14' id='list_14' value='{{ kasutaja.list_14 }}'>
			<br>
			<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/edit/delete/14">kustuta</a>
			<br>
			15. rida
			<br>
			<input type='text' name='list_15' id='list_15' value='{{ kasutaja.list_15 }}'>
			<br>
			<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/edit/delete/15">kustuta</a>
			<br>
			16. rida
			<br>
			<input type='text' name='list_16' id='list_16' value='{{ kasutaja.list_16 }}'>
			<br>
			<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/edit/delete/16">kustuta</a>
			<br>
			17. rida
			<br>
			<input type='text' name='list_17' id='list_17' value='{{ kasutaja.list_17 }}'>
			<br>
			<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/edit/delete/17">kustuta</a>
			<br>
			18. rida
			<br>
			<input type='text' name='list_18' id='list_18' value='{{ kasutaja.list_18 }}'>
			<br>
			<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/edit/delete/18">kustuta</a>
			<br>
			19. rida
			<br>
			<input type='text' name='list_19' id='list_19' value='{{ kasutaja.list_19 }}'>
			<br>
			<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/edit/delete/19">kustuta</a>
			<br>
			20. rida
			<br>
			<input type='text' name='list_20' id='list_20' value='{{ kasutaja.list_20 }}'>
			<br>
			<a href="/checklist/{{ kasutaja.veebileht }}/{{ kasutaja.id }}/edit/delete/20">kustuta</a>
			<br>
			
			
			<input type='submit' value='Salvesta'>
	</form>	
</div>	
			
{% endblock %}